n8n/workflows/social_media_fanout.json
{
  "name": "Social Media Fan-out",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "social-fanout",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "social-fanout-webhook"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.platforms",
        "options": {
          "destinationFieldName": "platform",
          "include": "allOtherFields"
        }
      },
      "id": "split-platforms",
      "name": "Split Platforms",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {"caseSensitive": true, "typeValidation": "strict"},
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "instagram",
                    "operator": {"type": "string", "operation": "equals"}
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "instagram"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "typeValidation": "strict"},
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "facebook",
                    "operator": {"type": "string", "operation": "equals"}
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "facebook"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "typeValidation": "strict"},
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.platform }}",
                    "rightValue": "tiktok",
                    "operator": {"type": "string", "operation": "equals"}
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "tiktok"
            }
          ]
        },
        "options": {"fallbackOutput": "extra"}
      },
      "id": "switch-platform",
      "name": "Switch by Platform",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/{{ $vars.IG_USER_ID }}/media",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {"name": "media_type", "value": "IMAGE"},
            {"name": "image_url", "value": "={{ $('Webhook').item.json.body.image_url }}"},
            {"name": "caption", "value": "={{ $('Webhook').item.json.body.caption }}"},
            {"name": "access_token", "value": "={{ $vars.IG_ACCESS_TOKEN }}"}
          ]
        },
        "options": {"timeout": 30000}
      },
      "id": "ig-create-media",
      "name": "IG: Create Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 120],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/{{ $vars.IG_USER_ID }}/media_publish",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {"name": "creation_id", "value": "={{ $json.id }}"},
            {"name": "access_token", "value": "={{ $vars.IG_ACCESS_TOKEN }}"}
          ]
        },
        "options": {"timeout": 30000}
      },
      "id": "ig-publish",
      "name": "IG: Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 120],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "p", "name": "platform", "type": "string", "value": "instagram"},
            {"id": "s", "name": "status", "type": "string", "value": "ok"},
            {"id": "pid", "name": "post_id", "type": "string", "value": "={{ $json.id }}"},
            {"id": "url", "name": "post_url", "type": "string", "value": "=https://www.instagram.com/p/{{ $json.id }}/"}
          ]
        },
        "options": {}
      },
      "id": "ig-result",
      "name": "IG: Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1440, 120]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "p", "name": "platform", "type": "string", "value": "instagram"},
            {"id": "s", "name": "status", "type": "string", "value": "error"},
            {"id": "r", "name": "reason", "type": "string", "value": "={{ $json.error?.message || $json.message || 'IG branch failed — check $vars.IG_USER_ID / IG_ACCESS_TOKEN' }}"}
          ]
        },
        "options": {}
      },
      "id": "ig-error",
      "name": "IG: Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1440, 240]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "p", "name": "platform", "type": "string", "value": "facebook"},
            {"id": "s", "name": "status", "type": "string", "value": "skipped"},
            {"id": "r", "name": "reason", "type": "string", "value": "TODO: wire FB Page access token + /me/feed call"}
          ]
        },
        "options": {}
      },
      "id": "fb-placeholder",
      "name": "FB: TODO",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "p", "name": "platform", "type": "string", "value": "tiktok"},
            {"id": "s", "name": "status", "type": "string", "value": "skipped"},
            {"id": "r", "name": "reason", "type": "string", "value": "TODO: wire TikTok Content Posting API (PULL_FROM_URL flow + status polling)"}
          ]
        },
        "options": {}
      },
      "id": "tt-placeholder",
      "name": "TT: TODO",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 480]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "p", "name": "platform", "type": "string", "value": "={{ $json.platform }}"},
            {"id": "s", "name": "status", "type": "string", "value": "rejected"},
            {"id": "r", "name": "reason", "type": "string", "value": "Unknown platform — supported: instagram, facebook, tiktok"}
          ]
        },
        "options": {}
      },
      "id": "fallback",
      "name": "Unknown Platform",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 660]
    },
    {
      "parameters": {
        "mode": "append",
        "numberInputs": 4
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1700, 360]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "results",
        "include": "allFields",
        "options": {}
      },
      "id": "aggregate",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1920, 360]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"ok\", \"results\": $json.results } }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2140, 360]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Split Platforms", "type": "main", "index": 0}]]
    },
    "Split Platforms": {
      "main": [[{"node": "Switch by Platform", "type": "main", "index": 0}]]
    },
    "Switch by Platform": {
      "main": [
        [{"node": "IG: Create Media", "type": "main", "index": 0}],
        [{"node": "FB: TODO", "type": "main", "index": 0}],
        [{"node": "TT: TODO", "type": "main", "index": 0}],
        [{"node": "Unknown Platform", "type": "main", "index": 0}]
      ]
    },
    "IG: Create Media": {
      "main": [
        [{"node": "IG: Publish", "type": "main", "index": 0}],
        [{"node": "IG: Error", "type": "main", "index": 0}]
      ]
    },
    "IG: Publish": {
      "main": [
        [{"node": "IG: Result", "type": "main", "index": 0}],
        [{"node": "IG: Error", "type": "main", "index": 0}]
      ]
    },
    "IG: Result": {
      "main": [[{"node": "Merge Results", "type": "main", "index": 0}]]
    },
    "IG: Error": {
      "main": [[{"node": "Merge Results", "type": "main", "index": 0}]]
    },
    "FB: TODO": {
      "main": [[{"node": "Merge Results", "type": "main", "index": 1}]]
    },
    "TT: TODO": {
      "main": [[{"node": "Merge Results", "type": "main", "index": 2}]]
    },
    "Unknown Platform": {
      "main": [[{"node": "Merge Results", "type": "main", "index": 3}]]
    },
    "Merge Results": {
      "main": [[{"node": "Aggregate Results", "type": "main", "index": 0}]]
    },
    "Aggregate Results": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "versionId": ""
}
